body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero,
.footer {
    background-color: #1F2937;
}

.content {
    display: flex;
}

.content img {
    max-width: 300px;
}

.hero h1 {
    font-size: 48px;
    font-weight; 900;
    color: #F9FAF8;
}

.hero p,
.hero li {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header {
    display: flex;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    flex: 1;
}

.container img {
    max-height: 200px;
    border: 3px solid rgb(37, 37, 240);
    border-radius: 18px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;

}

.quotebox {
    display: flex;
    flex-direction: column;
}

.quotebox p {
    font: italic lighter 36px sans-serif;     
}

.quotebox h2 {
    align-self: flex-end;
}